streamlit>=1.30.0
langchain
langchain-core
langchain-community
langchain-openai
langgraph
faiss-cpu
rank_bm25
pypdf
python-dotenv
requests
jieba
pydantic
streamlit-authenticator==0.3.3
PyYAML
markdown
python-pptx